{% extends "base.dj" %}

{% block content %}
<!-- Example row of columns -->
<div class="row">
  <div class="span3">
    <h2>Your Teams</h2>
    {% if teams|length == 0 %}
      <div style="text-align: center">
        <p>You haven't build any teams yet.</p>
      </div>
    {% else %}
      {% for team in teams %}
        {% include "views/team_block.html" %}
      {% endfor %}
    {% endif %}
    <p><a class="btn" href="#">Build a new team &raquo;</a></p>
  </div>
  <div class="span9">
    <h2>Heading</h2>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
    <p><a class="btn" href="#">View details &raquo;</a></p>
  </div>
</div>
{% endblock %}
